{% extends 'main/base.html' %}
{% load django_bootstrap5 %}

{% block title %}O nas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">O nas</h1>
                <div class="card-text">
                    <p class="lead">
                        Jesteśmy społecznością traderów kryptowalutowych, którzy dzielą się swoją wiedzą i doświadczeniem.
                    </p>
                    <p>
                        Nasza historia rozpoczęła się od pasji do rynków finansowych i technologii blockchain. 
                        Przez lata zdobywaliśmy doświadczenie w tradingu kryptowalut, ucząc się na własnych błędach 
                        i sukcesach.
                    </p>
                    <p>
                        Naszym celem jest dzielenie się tą wiedzą z innymi traderami, pomagając im unikać 
                        typowych błędów i rozwijać się w świecie kryptowalut.
                    </p>
                    <h3 class="mt-4">Nasze wartości:</h3>
                    <ul>
                        <li>Edukacja i rozwój</li>
                        <li>Wsparcie społeczności</li>
                        <li>Odpowiedzialne trading</li>
                        <li>Transparentność</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 